#statistics-container {
    padding: 20px;
}

#statistics-container .statistics-form {
    margin-bottom: 40px;
}

#statistics-container .statistics-chart {
    display: flex;
    flex-wrap: wrap;
}

#statistics-container .statistics-chart-item {
    width: 420px;
    flex: 1;
    height: 420px;
}